{
  "base_api_url": "http://localhost:3100",
  "account_api_url": "http://localhost:3004",
  "ewa_api_url": "http://localhost:3006",
  "company_service_url": "http://localhost:3014",
  "ewa_summary_service_url": "http://localhost:3019",
  "admin_email": "",
  "admin_password": "",
  "user_admin_email": "",
  "user_admin_password": "",
  "user_phone": "",
  "user_pincode": "111111",
  "app_version": "5.5.5"
}